<div id="map">
</div>

<script
async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_uc84ANbe0t8Y1Hxc7lDtu8I9SY4Okk8&libraries=visualization&callback=initMap">
</script>

<script type="text/javascript">

     var map;
       function initMap() {
         map = new google.maps.Map(document.getElementById('map'), {
           zoom: 2,
           center: new google.maps.LatLng(2.8,-187.3),
           mapTypeId: 'terrain'
         });
         var heatmapData = [];
         $.getJSON("https://disasterdistributor.herokuapp.com/data/supplies.json", function(json1) {
             $.each(json1, function(key, data) {
                 var latLng = new google.maps.LatLng(data.lat, data.lng);
                 var weightedLoc = {
                    location: latLng,
                    weight: (data.food+data.water+data.gas) / 10000,
                 };
                 heatmapData.push(weightedLoc);
             });
             var heatmap = new google.maps.visualization.HeatmapLayer({
               data: heatmapData,
               dissipating: false,
               map: map
             });
         });
       }

       // Loop through the results array and place a marker for each
       // set of coordinates.

 </script>