<script>
    $(document).ready(function() {

        // Create unordered list
        var list = $('<ul class="collapsible" data-collapsible="accordion"></ul>');

        // Loop through Json and create list items, then place them in the list
        $.getJSON("/data/supplies.json", function(json1) {
            $.each(json1, function(key, data) {
                list.append($("<li></li>").html('<div class="collapsible-header">' + data.name +
                    '</div><div class="collapsible-body"><p>' +
                    'Food: ' + data.food + '<br>Water: ' + data.water +
                    '<br>Gas: ' + data.gas + '<br>Lat: ' + data.lat +
                    '<br>Lng: ' + data.lng + '</p></div>'));
            });
        });
        list.appendTo($("body"));

        $('.collapsible').collapsible();
    });
</script>