body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#map {
    height:400px;
    width: 100%;
}

.wrapper {
    text-align: center;
}
.wrapper ul {
    display: table;
    width: 100%;
    list-style: none;
}
.wrapper li {
    float: left;
    width:25%;
    text-align:center;
}